/* Set the default font family for the entire body of the webpage to Arial and sans-serif */
body {
    font-family: 'Brush Script MT', cursive;
    margin: 0;
    padding: 0;
}

/* Reset the default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Set the font size for all paragraphs within the 'about' section to 40px */
#about p {
    font-size: 20px;
    text-align: justify;
    font-family: 'Brush Script MT', cursive;
    ;
}

/* img {
    height: 1250px;
} */

/* Center and set the font size and family for all h1 elements within the 'about' section */
#about h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Brush Script MT', cursive;
}

/* Center and set the font size and family for all h1 elements within the 'menu' section */
#menu h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Brush Script MT', cursive;
}

/* Center and set the font size and family for all h1 elements within the 'contact' section */
#contact h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Brush Script MT', cursive;
}

#contact p {
    font-size: 20px;
}

/* Reset the default margin for all h1 elements */
h1 {
    margin: 0;
}

/* Set the display property for the 'nav' element to 'flex' */
nav {
    display: flex;
    height: 80px;
    background-color: #3586ff;
}

img {
    /* padding-top: 10px; */
    width: 80%;
    height: 750px;

}

/* Set the margin and text-decoration for all 'a' elements within the 'nav' section */
nav a {
    margin-right: 1em;
    text-decoration: none;
    color: white !important;
}

/* Set the padding for all 'section' elements */
section {
    padding: 1em;
}


/* Collapse the borders of all 'table' elements and set their width to 100% */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Set the border, padding, and text-alignment for all 'th' and 'td' elements */
th,
td {
    border: 1px solid black;
    padding: 0.5em;
    text-align: left;
}

/* Set the background color, font weight for all 'th' elements */
th {
    background-color: lightgray;
    font-weight: bold;
}

/* Set the margin-bottom for all elements with the class 'row' */
.row {
    margin-bottom: 8px;
}

section {
    background-color: azure;
    border-radius: 10px;
}

/*  Animation Loader*/
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-animation {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Footer */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    background: #333;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
} */

.footer {
    margin-top: 150px;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

/* Food Slider */
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}